<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titolo}}</title>
  </head>
  <body>
    <h1>Mi presento!</h1>
    <h2>Il mio nome è {{nome}}</h2>
    <h3>Lascia qui il tuo nome!</h3>
    <form action="login" method="post">
      <input type="text" name="name" placeholder="nome" />
      <button type="submit">INVIA</button>
    </form>
  </body>
</html>